.header {
  position: sticky;
  top: 0;
  background-color: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(12px);
  padding: 12px;
  border-bottom: 1px solid #2f3336;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header h1 {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

/* 只在移动端显示 */
@media (min-width: 769px) {
  .header {
    display: none;
  }
}

